<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head')%>
</head>
<body class="d-flex flex-column min-vh-100">
    <%- include('partials/navigation')%>
    <div class="flex-grow-1">
        <h1 class="display-1">
            about
        </h1>
        <section>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam repudiandae odio quaerat hic exercitationem vitae minima magni. Amet, repellat corrupti iure sequi labore vero reprehenderit rem similique! Quia, provident vitae.
        </section>
    </div>

    <%- include('partials/footer')%>
</body>
</html>