<footer>
    <h2>Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ipsum ratione recusandae porro illo aut id iure sit voluptatibus saepe voluptatem eos fugiat nihil temporibus maiores explicabo iste animi, ipsam eveniet doloribus! Consequatur rem sequi cum natus cumque optio, commodi nulla aut, ipsa accusamus eos! Fuga, vel consequuntur? Tempore blanditiis dolor officiis earum? Tenetur nobis asperiores ex placeat reiciendis, modi quasi non quibusdam laboriosam tempore corporis a laudantium incidunt excepturi vero libero deleniti, possimus assumenda consequuntur temporibus. Quia unde eaque debitis exercitationem nesciunt tempore suscipit ad fuga doloremque odit, mollitia laborum officiis dolorem maxime earum nulla consequuntur obcaecati sapiente necessitatibus?
    
    </p>
</footer>